
.tblBorder {
	width:100%;
	border:solid 1px #CCCCCC;
	border-collapse:collapse;
}
.tblBorder td, .tblBorder th {
	border:solid 1px #CCCCCC;
}

.table_list {}
.table_list th {
	font-weight:bold;
}
.table_list td {
}
.tr_list:hover {
	background-color:#bfdaff;
}
.tblListData {
	width:100%;
	font-size:11px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", tahoma, verdana;
	border:solid 1px #cccccc;
	border-collapse: collapse;
	background:#FFFFFF;
}
.tblListData thead {
}
.tblListData thead th {
	background: #dbdcdd url('3.png') repeat-x;
	font-family: verdana, arial;
	text-align:center;
	border:solid 1px #999999;
	padding:3px;
	font-size:10px;
}
.tblListData tbody tr:hover {
	/*cursor:pointer;
	background-color:#fce700;*/
	background-color:#e1f2f7;
}
.tblListData tbody td {
	border:solid 1px #999999;
	padding:0 3px 0 3px;
	height:26px;
}
.tblListData a:link,a:visited {
	text-decoration:none;color:#333333;
}
.tblListData a:hover {
	text-decoration:underline;color:#000000;
}
.tblListData img {
	border:0;
}
.tblListData tr.notSelected {
	
}
.tblListData tr.selected {
	background: #9DE1F3 url('../images/bg_tr_selected.png') repeat-x;
}

.tblNote {
	font: 12px "Lucida Sans Unicode", "Lucida Grande";
}
.tblNote td {
	height:16px;
	vertical-align:top;
}

.tblHide {
	position:absolute;
	z-index:2;
	left:976px;
	top:40px;
	color:#FFFFFF;
	width:32px;
	height:32px;
	background:url('../images/arrow_right_green.png') 0 50% no-repeat;
	cursor:pointer;
	opacity:0.3;
}
.tblShow {
	position:absolute;
	z-index:2;
	left:976px;
	top:40px;
	color:#FFFFFF;
	width:32px;
	height:32px;
	background:url('../images/arrow_left_green.png') 0 50% no-repeat;
	cursor:pointer;
	opacity:0.3;
}


.fixed_headers {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.fixed_headers th {
  text-decoration: none;
}
.fixed_headers th,
.fixed_headers td {
  padding: 5px;
  text-align: left;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
  min-width: 200px;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
  min-width: 200px;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
  width: 350px;
}
.fixed_headers thead {
  background-color: #e74c3c;
  color: #fdfdfd;
}
.fixed_headers thead tr {
  display: block;
  position: relative;
}
.fixed_headers tbody {
  display: block;
  overflow: auto;
  width: 100%;
  height: auto;
}
.fixed_headers tbody tr:nth-child(even) {
  text-align: center;
  background-color: #dddddd;
}
.old_ie_wrapper {
  height: auto;
  width: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.old_ie_wrapper tbody {
  height: auto;
}
